<!DOCTYPE html>
<html>
  <head>
    <title>GitSample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
      <div class="row">
    		<% if !current_user.blank? %>
          <div class="navbar-text navbar-right">Hello <i><span class="set_title"><%= current_user.username %></span></i> | <%= link_to "Sign Out", signout_path, method: :delete %></a>
          </div>
    		<% end %>
      </div>
    <%= yield %>
	</div>
  </body>
</html>

 